.channel_item:hover {
  color: #2b2f4c !important;
  background: #ffecec !important;
}

.channel_item1 {
  color: #2b2f4c !important;
  background: none !important;
}

.drop-item {
  color: #2b2f4c !important;
  padding: 0.78571429rem 1.14285714rem !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.header-color {
  color: white !important;
}

.item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.78571429rem 1.14285714rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
}
.drop-item:hover {
  background-color: #2f4f4f;
  color: white !important;
  border-radius: 5px;
}


.product-types > .btn-group > .btn{
  padding:4px 10px !important;
  color:black !important;
}