.otp-btn {
  font-size: 14px;
  font-weight: 500;
  width: auto;
  padding: 10px 10px;
  height: 40px;
  border: 0;
  color: #fff;
  background: #d30013;
  border-radius: 5px;
  text-align: center;
}
.password-forgor {
  padding-top: 20px;
}
.password-forgor:hover {
  color: #2b2f4c;
}
.lgn_icon {
  display: flex;
}
.otp-wait-btn {
  font-size: 14px;
  font-weight: 500;
  width: auto;
  padding: 10px 10px;
  height: 40px;
  border: 0;
  color: #fff;
  background: grey;
  border-radius: 5px;
  text-align: center;
}
