.slot-selector {
  width: 100%;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin-top: 8vh;
  z-index: 9999;
  color: #2f4f4f;
}
.slot-selector .btn {
  color: #2f4f4f;
}
.slot-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.slot-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 28px;
}

.slot-schedule {
  font-size: 18px;
  margin: 0px 10px;
  font-weight: bold;
  color: #d30013;
}
.slot-body {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}
.slot-time {
}
.slot-day {
}

.slot-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slot-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slot-switch input:checked + .slider {
  background-color: #d30013;
}

.slot-switch input:focus + .slider {
  box-shadow: 0 0 1px #d30013;
}

.slot-switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slot-switch .slider.round {
  border-radius: 34px;
}

.slot-switch .slider.round:before {
  border-radius: 50%;
}
