.ribbon span {
  font: 700 7px/1 "Lato", sans-serif;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  z-index: 10;
}

.cate-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.carousel-inner {
  border-radius: 10px;
  margin-top: 4vh;
}
/* top left*/
/* .ribbon-top-left {
  top: 6px;
  left: 20px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
 */
.img-container {
  background: grey;
  height: 25.5vh;
}
