.rest-item {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
}
.side-text {
  padding-top: 20px;
  color: #d30013;
}
.sub-text {
  color: grey;
}
.left-item {
  margin-left: 0px !important;
}
.p-image {
  border-radius: 10px;
}
