.rest-item {
  background-color: white;
  border-radius: 8px;
}

.sub-text {
  color: grey;
  font-size: 10px;
}
.left-item {
  margin-left: 0px !important;
}
.rest-image {
  border-radius: 5px;
  width: 70px;
}
.rest-name {
  color: #d30013;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


